.blogpost {
  background-image: linear-gradient(-45deg, rgb(34, 252, 255), rgb(134, 0, 187));
  border-radius: 20px;
  padding: 15px;
  margin: 30px;
  margin-bottom: 100px;
  box-shadow: 0 0 1em 0.25em rgba(0, 0, 0,0.1);
  color: white;
}

button {
  border-radius: 5px;
  background-color: rgba(39, 40, 43, 1); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 1s;
}

img {
  max-width: 100%;
}
