/* Base Styles */
body, html {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 2em;
	color: #222;
	font-family: 'Julius Sans One', sans-serif;
}

/* ClearFix */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Header Styles

linear-gradient(to right, blue , blue, pink , yellow)*/

header {
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to right, rgba(39, 40, 43, 0) , rgba(39, 40, 43, 0));
	position: fixed;
	z-index: 2;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.mobilehead {
	height: 160px;
}

.transparent {
	background-image: linear-gradient(to right, rgba(39, 40, 43, 1) , rgba(39, 40, 43, 1));
}

.small {
  height: 50px;
}

.large {
	height: 100%;
}

.small .logo {
	font-size: 2.2em;
	margin-top: 10px;
}

.small .logosub {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	font-size: 1.5em;

}

nav {
	width: 95%;
	margin: 0 auto;
}

.logo {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 3.4em;
	font-weight: 400;
	float: left;
	margin-top: 30px;
}

.logo:hover {
	background-color: rgba(0, 0, 0, 0.0) !important;
	color: yellow;
}

.logosub {
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
	float: right;
	font-size: 2em;
}

/* Transitions */

header, .logo .logosub {

	-webkit-transition: all 1s;
          transition: all 1s;
}

a {
	transition: 1s;
}


a:link {
	text-decoration: none;
	color: white;
}

a:link:hover {
  border-radius: 10px;
	background-color: rgba(42, 44, 44, 0.3);
}

a:visited {
	color: white;
}

.randomdiv {

	margin: auto;
	align-content: center;
	float: right;
	display: flex;
}

.mobile {
	position: fixed;
    top: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
}

.textbody {
  padding-top: 100px;
	padding-left: 20%;
	width: 60%;
}

h3 {
	font-size: 1.6em;
	margin-bottom: 1rem;
	font-weight: normal;
	color: #155391;
}

p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	color: #27282b;
}

.placeholder {
	height: 2000px;
}
